main {
    background-color: yellow;
}

/*  blue  color: #6495ED; 
   beige color: #DEB887;
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: 'Lora', serif;
}

header {
    background-color: #6495ED;
    text-align: right;
    padding: 1em;
}

li {
    list-style-type: none;
    padding: 10px;
}

header a:link {
    color: #FAEBD7;
    text-decoration: none;
}

header a:visited {
    color: #FAEBD7;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

header a:active {
    color: #DEB887;
}

main {
    background-color: #FAEBD7;
}

article {
    border: 4px solid purple;
    position: relative;
}
article h2 {
    text-align: left;
}
h2 a:link {
    color: black;
    text-decoration: none;
}
h2 a:visited {
    color: black;
    text-decoration: none;
}
h2 a:hover {
    color: #6495ED
}
h2 a:active {
color: #DEB887;
}

section {
    border: 4px solid green;
}

.post-date {
    color: #838383;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;

}

.post-content {
    border: 4px solid red;
}

div:nth-child(1) {
    display: flex;
    flex-direction: column;
}




@media only screen and (min-width: 600px) {
    div:nth-child(1) {
        display: flex;
        flex-direction: row;
    }
}