main {
    background-color: yellow;
}

/*  blue  color: #6495ED; 
   beige color: #DEB887;
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: 'Lora', serif;
}

header {
    background-color: #6495ED;
    text-align: right;
    padding: 1em;
}

li {
    list-style-type: none;
    padding: 10px;
}

header a:link {
    color: #FAEBD7;
    text-decoration: none;
}

header a:visited {
    color: #FAEBD7;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

header a:active {
    color: #DEB887;
}

main {
    background-color: #FAEBD7;
}

article {
    position: relative;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}

article h2 {
    text-align: left;
}
/*article title links*/
h2 a:link {
    color: black;
    text-decoration: none;
}

h2 a:visited {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: #6495ED
}

h2 a:active {
    color: #DEB887;
}
/* just plain links*/
a:link {
    color: #6495ED;
    text-decoration: none;
}

a:visited {
    color: #6495ED;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: active;
}

section {
    /*    
    margin: 20px 10px 10px 5px; */

}

.post-date {
    color: #838383;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;

}

.post-content {
    padding: 15px;
    background-color: white;
    margin: 20px 10px 10px 5px;


}

div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

img {
    margin-right: auto;
    margin-left: auto;
}



@media only screen and (min-width: 600px) {
    div:nth-child(1) {
        display: flex;
        flex-direction: row;
    }
}