main {
    background-color: yellow;
}

/*  blue  color: #6495ED; 
   beige color: #DEB887;
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-family: 'Lora', serif;
}

header {
    background-color: #6495ED;
    text-align: right;
    padding: 1em;
}

li {
    list-style-type: none;
    padding: 10px;
}

header a:link {
    color: #FAEBD7;
    text-decoration: none;
}

header a:visited {
    color: #FAEBD7;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

header a:active {
    color: #DEB887;
}

main {
    background-color: #FAEBD7;
}


/*article title links*/
h2 a:link {
    color: black;
    text-decoration: none;
}

h2 a:visited {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: #6495ED
}

h2 a:active {
    color: #DEB887;
}
/* just plain links*/
a:link {
    color: #6495ED;
    text-decoration: none;
}
a:visited {
    color: #6495ED;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: active;
}

article {
    position: relative;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: left;
    flex-direction: column;

}

/* article h2 {
    text-align: left;
} */

.post-date {
    color: #838383;
    border: 4px solid yellow;
    position: absolute; 
    margin-left: 40px;
    margin-top: 20px; 
    /* position: absolute;
    margin-left: 15px;
    margin-top: 15px; */

}

.post-content {
    background-color: white;
    padding: 15px;
    margin: 20px 40px 5px 40px;
    flex-direction: column;
    justify-content: center;
  
}
div {
    display: flex;
    flex-direction: column;
    word-wrap: normal;
  
}
div:nth-child() {
    border: 4px solid green;
}

/* img {
    margin-right: auto;
    margin-left: auto;
} */



@media only screen and (min-width: 600px) {
    div {
        display: flex;
        flex-direction: row;
    }
}